/.restartSimSession.tcl.old
/.synopsys_dve_rebuild.tcl
/.vscode
/.__afs5A37
/.__afs5BB2
/.__afs7A95
/.__afsA605
/.__afsCDE5
/csrc
/datapath_FSM.pdf
/DVEfiles
/dve_report.022723.224905.tar.gz
/dve_report.030423.233639.tar.gz
/dve_report.032523.144201.tar.gz
/inter.vpd
/simv.daidir
/ucli.key
/.DS_Store
/.idea
/*.vcd